[submodule "Async_Weather_Analysis_Tool"]
	path = Async_Weather_Analysis_Tool
	url = git@github.com:dmshirochenko/async-python-sprint-1.git
[submodule "Async_Task_Scheduler"]
	path = Async_Task_Scheduler
	url = git@github.com:dmshirochenko/async-python-sprint-2.git
[submodule "Async_Chat_App"]
	path = Async_Chat_App
	url = git@github.com:dmshirochenko/async-python-sprint-3.git
[submodule "Async_URL_Shortener_Service"]
	path = Async_URL_Shortener_Service
	url = git@github.com:dmshirochenko/async-python-sprint-4.git
